body.dark  header, 
body.dark  footer{
  background-color: #404258;
}

body.dark article{
  background-color: #474E68;
  color:white
}


body.dark a, body.dark p{
  color:white;
}


body.dark nav{
  background-color: #474E68;
  color: white;
}

body.dark .button{
  background-color: #6b728e;
}

body.dark nav > ul > a, body.dark nav > ul > li {
  background-color: #50577A;
}

body.dark nav > ul > a:nth-child(even){
  background-color: #6B728E;
}


body.dark a ,body.dark a:hover {
  color:white;
}

body.dark nav > ul > a:hover, body.dark .button:hover{
  background-color:#999AC6;
  color:white;

}
