@media only screen and (max-width: 950px) {
  main{ 
    display: flex;
    flex-direction: column;
    
  }

  main > header{
    justify-content: space-around;
  }

  main > header > a{
    align-items: center;
  }

  nav > ul > a {
    display: none;
    
  }

  nav{
    height: 35px;
  }

  nav > ul > li{
    min-height: 35px;
  }
  nav:hover ,nav > ul:hover >  a{
    height: 100%;
    display: flex;
  }

  main > article > section{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height:calc(100vh - 175px);
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 30px 0;
  }

  #top{
    text-align: center;
  }

  main > article{
    grid-area: content;  
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0;
  }

  #fav-place{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }

  #fav-place .image-container{
    text-align: center;
    margin: 30px 0;
  }

  #fav-place .image-container > img{
    margin:20px 0;
  }
  #feedback > .content > form{
    display: flex;
    flex-direction: column;
  }

  #feedback > .content > form >*{
    padding: 0;
    margin:0;
  }

}